
@{
    @model  Orden
    Layout = null;

    ViewBag.Title = ViewBag.mimouse;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cambio</title>

    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-rtl.min.css" />


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Areas/Admin/assetsAce/js/ace-extra.min.js"></script>
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]><![endif]-->
    <script src="~/Areas/Admin/assetsAce/js/html5shiv.min.js"></script>
    <script src="~/Areas/Admin/assetsAce/js/respond.min.js"></script>

    <link href="~/Areas/Admin/Assets/css/Mgrid.css>" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/css/formulario.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Assets/js/jquery.js"></script>


</head>
<script>
    $(document).ready(function () {
        let params = new URLSearchParams(location.search);

     
       // let id = $("#Orden_Id").val()
        //let preciovalor = $("#valor").val();
      //  let igv = $("#igv").val();
     //   let total = $("#total").val();
        // let usuario = $("#usuariof")
        //let celular = $("#telefonof")
        // let ubicacion = $("#ubicacion")
        // let observacion = $("#telefonof")


        var ordemod = params.get('ordenid');
        var ordendetalle = params.get('ordendetalle');
       
        var usuario = params.get('usuario');
        var celular = params.get('celular');

        var ubicacion = params.get('ubicacion');
        var observacion = params.get('observacion');

        var valor = params.get('valor');
        var igv = params.get('igv');
        var total = params.get('total');

        var cable = params.get('cable');
        var mouse = params.get('mouse');
        var maleta = params.get('maleta');
        var accesorio = params.get('accesorio');

        var grecepcion = params.get('grecepcion');
        var seriehw = params.get('seriehw');

        var sefacturo = params.get('sefacturo');
        var tipohardwareestado = params.get('tipohardwareestado');
        var descripciontipohardwareestado = params.get('descripciontipohardwareestado');
        var identificador = params.get('identificador');
        var moneda = params.get('moneda');
       
       // var valorstring = valor.toString();
      //  CargarInventarioo(ordemod);

       // $("#inventarioo").load('@Url.Content("~/admin/orden/inventariocambio/?Orden_id=" )' + ordemod + "&ordendetalle=" + ordendetalle + "&usuario=" + usuario + "&valor=" + valor);
        $("#inventarioo").load('@Url.Content("~/admin/orden/inventariocambio/?Orden_id=" )' + ordemod + "&ordendetalle=" + ordendetalle
            + "&usuario=" + usuario + "&celular=" + celular + "&ubicacion=" + ubicacion + "&observacion=" + observacion
            + "&cable=" + cable + "&mouse=" + mouse + "&maleta=" + maleta + "&accesorio=" + accesorio + "&grecepcion=" + grecepcion + "&seriehw=" + seriehw +
            "&sefacturo=" + sefacturo + "&tipohardwareestado=" + tipohardwareestado + "&descripciontipohardwareestado=" + descripciontipohardwareestado
            + "&identificador=" + identificador + "&moneda=" + moneda + "&valor=" + valor +
            "&igv=" + igv + "&total=" + total);
    })
    function CargarInventarioo(ordemod)
    {

        $("#inventarioo").load('@Url.Content("~/admin/orden/inventario/?Orden_id=")'+ordemod);
    }


    function closeCurrentWindow() {
        window.close();
    }


</script>
<body>
    <h1 class="container">Registre su equipo cambio</h1> 
    
    <h2>
        @ViewBag.mimouse
    </h2>   

   

    <div class="container" id="inventarioo">

    </div>


    <!-- ANEXGRID -->
    <!--<script src="~/Areas/Admin/Assets/js/bootstrap.min.js"></script>-->
    <script src="~/Areas/Admin/Assets/js/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.form.js"></script>
    <script src="~/Areas/Admin/Assets/js/ini.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.anexgrid.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Areas/Admin/assetsAce/js/bootstrap.min.js"></script>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <!--SCRIP ANTERIROR-->
    @*@<script src="~/Areas/Admin/assetsAce/js/jquery-2.1.4.min.js"></script>*@
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Areas/Admin/assetsAce/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../assetsAce/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="~/Areas/Admin/assetsAce/js/ace-elements.min.js"></script>
    <script src="~/Areas/Admin/assetsAce/js/ace.min.js"></script>

</body>
</html>
