
@{
    ViewBag.Title = "Index";
}

<div>
    <a href="~/admin/catalogoprecios/crud" class="btn  btn-success no-border btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Agregar
    </a>
    <a href="~/admin/catalogoprecios/index" class="btn  btn-success no-border btn-sm">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        Listar
    </a>
</div>
<br />


<div id="list" class="well"></div>

<script>
    $(document).ready(function () {

        $("#list").anexGrid({
            columnas: [
                { leyenda: 'NOMBRE', columna: 'nombre', ordenable: true },
                { leyenda: 'CARACTERISTICAS', columna: 'caracteristicas', style: 'width:140px;', ordenable: true },
                { leyenda: 'PRECIO', columna: 'precio', style: 'width:140px;', ordenable: true },
                { leyenda: 'OTROS', columna: 'otros', style: 'width:140px;', ordenable: true },
                { leyenda: 'EMPRESA', columna: 'empresa', style: 'width:140px;', ordenable: true },
                { leyenda: 'ESTADO', columna: 'estado', style: 'width:140px;', ordenable: true },
                { style: 'width:10px;' },
                { style: 'width:10px;' }
            ],

            modelo: [
                {
                    propiedad: 'nombre', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/catalogoprecios/crud/")' + obj.idCatalogoPrecio,
                            contenido: valor
                        });
                    }
                },

                { propiedad: 'caracteristicas' },
                { propiedad: 'precio' },
                { propiedad: 'otros' },
                { propiedad: 'empresa' },




                 {

                     propiedad: 'estado', formato: function (tr, obj, valor) {
                         return valor == 1 ? "<span>Activo</span>"  : "<span class='label label-danger'>No Activo</span>";
                         //return anexGrid_link({ href:  })
                     }

                 },




                // BOTONES
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/catalogoprecios/crud/")' + obj.idCatalogoPrecio,
                            contenido: '<i class="ace-icon fa	fa-eye  bigger-120 blue"></i>Ver',
                            class: 'btn btn-light  btn-xs'
                        });
                    },
                },
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/admin/catalogoprecios/eliminar/")' + obj.idCatalogoPrecio,
                            contenido: '<i class="ace-icon fa fa-trash-o bigger-120 red"></i>',
                            class: 'btn btn-light  btn-xs',
                            attr: [
                                'onclick="return confirm(\'¿Esta seguro de eliminar este registro?\')"'
                            ]
                        });
                    },
                }
            ],

            url: '@Url.Content("~/admin/catalogoprecios/CargaCatalogoPrecio")',
            paginable: true,
            limite: [20, 60, 100],
            columna: 'id',
            columna_orden: 'DESC'
        });
    })
</script>
