
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>



    window.onload = function () {



        let params = new URLSearchParams(location.search);
        var contract = params.get('idorden');

        console.log(contract);

        //var link = "../Areas/Admin/formatos/fose.aspx?idorden=1";
        //var iframe = document.createElement('iframe');
        //iframe.frameBorder = 3;
        //iframe.width = "100%";
        //iframe.height = "600px";
        //iframe.id = "randomid";
        //iframe.setAttribute("src", "http://localhost:54520/Areas/Admin/formatos/fose.aspx?idorden=" + contract);

        //iframe.setAttribute("src", "/renting/Areas/Admin/formatos/crfose.aspx?idorden=" + contract);
        //document.getElementById("ad54").appendChild(iframe);



        //var link = "http://www.quirksmode.org/iframetest2.html"
        //var iframe = document.createElement('iframe');
        //iframe.frameBorder = 0;
        //iframe.width = "300px";
        //iframe.height = "250px";
        //iframe.id = "randomid";
        //iframe.setAttribute("src", link);
        //document.getElementById("ad54").appendChild(iframe);

    }
</script>

