<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>


    <link rel="stylesheet" href="~/Areas/Admin/assetsAce/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

</head>
<body>


   <h2>

       Pagian de INicio
   </h2>

    <div class="page-content">

        <!-- /.ace-settings-container -->

        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
                <!-- PAGE CONTENT BEGINS -->
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->


    </div><!-- /.page-content -->




</body>
</html>